
<mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
         <div class="backgroundimage">
              <img src="../../assets/image-path/login.jpg">
          </div>
    </mat-grid-tile>
    <mat-grid-tile>
         <div class="login-card pt-5">

              <div class="form-control form-control-lg">
                  <input type="text" placeholder="Client Code" required />
              </div>
  
              <div class="form-control form-control-lg">
                  <input type="text" placeholder="User Name"  required />
              </div>
              <div class="form-control form-control-lg">
                  <input type="password" placeholder="Password"  required />
              </div>
              <div class="btn btn-primary btn-lg btn-block">
                  <button type="submit" (click)="login()" >Login</button>
              </div>
  
              <div>
                  <a href="#" class="password">Forgot password?</a>
              </div>
              <br>
          </div>
    </mat-grid-tile>
  </mat-grid-list>



